/Dispersion_22_02_15.pdf
/Dispersion_22_03_02.pdf
/Dispersion_22_04_01.pdf
/Dispersion_22_04_04.pdf
/Dispersion_22_04_08.pdf
/Dispersion_22_05_25.pdf
/Dispersion_22_07_01.pdf
/Eisenlohr-Müller1953_Article_AnomaleRöntgenstreuungSchwerer_Teil1.pdf
/Eisenlohr-Müller1953_Article_AnomaleRöntgenstreuungSchwerer_Teil2.pdf
/Hoenl_1934_Atomformfaktoren.pdf
/Hönl1933_Article_ZurDispersionstheorieDerRöntge.pdf
/Hönl1934_Article_ÜberEinAdditionstheoremDerKuge.pdf
/parallel_test.py
/profiling_stats.txt
/__pycache__